* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #333; */
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    background: royalblue;
}

.icon {
    display: none;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a{
    text-decoration: none;
    color: silver;
    padding: 10px 10px;
}

.nav ul li a:hover {
    border-bottom: 5px solid silver;
    padding-bottom: 10px;
} 
   
   @keyframes borderAnimation {
      0% {
        border-color: #3498db;
        box-shadow: 0 0 10px #3498db;
        filter: hue-rotate(0deg);
      }
      25% {
        border-color: #e74c3c;
        box-shadow: 0 0 10px #e74c3c;
        filter: hue-rotate(90deg);
      }
      50% {
        border-color: #2ecc71;
        box-shadow: 0 0 10px #2ecc71;
        filter: hue-rotate(180deg);
      }
      75% {
        border-color: #e74c3c;
        box-shadow: 0 0 10px #e74c3c;
        filter: hue-rotate(270deg);
      }
      100% {
        border-color: #3498db;
        box-shadow: 0 0 10px #3498db;
        filter: hue-rotate(360deg);
      }
    }

    .box {
      width: 70%;
      height: 250px;
      /* padding: 20px; */
      margin: auto;
      background-color: #ecf0f1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #3498db;
      box-shadow: 0 0 10px #3498db;
      animation: borderAnimation 6s infinite;
      text-align: center;
      border-radius: 30px;
      max-width: 800px;
    }

     #guessField {
    width: 80%;
    border-radius: 10px;
    height: 40px;
    }  


    input[type=submit] {
        width: 60%;
        border-radius: 10px;
        /* text-align: center; */
    }

    .showcase {
        background: url(images/money\ show.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        text-align: center;
        color: whitesmoke;
    }

    .show {
        font-size: 120px;
        padding-top: 100px;
    }

    .show2 {
      font-size: 70px;
    }

    .allaboutus {
      display: flex;
      margin-top: 20px;
  }
  
  #aboutus {
      margin-left: 30px;
      margin-top: 100px;
      
  }

  .contact {
    margin-top: 10px;
    width: 170px;
    height: 20px;
    border: none;
}
  
  .boxx {
      border: 2px solid white;
      border-radius: 10px;
      width: 300px;
      height: 250px;
      margin-right: 20px;
      margin-bottom: 20px;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .boxx:hover {
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.1);
  }
  
  .image {
      width: 296px;
      height: 100px;
      background: url(images/money\ show\ 3.jpg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }
  
  .company {
      text-align: center;
      font-size: 50px;
  }

  .lol {
    font-size: 12px;
  }

  .loll {
    font-size: 18px;
  }

  


#contact {
    background: #3498db;
}

.form {
    margin-left: 60px;
}

input {
    width: 1259px;
    height: 40px;
    padding-left: 20px;
}

input[type=button] {
    width: 1259px;
    border: none;
}

.fa-file-waveform, .fa-people-group, .fa-circle-dollar-to-slot, .fa-phone-volume, .fa-copyright {
    padding-right: 10px;
}

.social-icon {
    text-align: center;
}

.we {
    text-align: center;
}

